@font-face {
  font-family: "Pokemon Solid";
  src: url("../font/Pokemon_Solid.ttf") format("truetype");
}

@font-face {
  font-family: "Pokemon Hollow";
  src: url("../font/Pokemon_Hollow.ttf") format("truetype");
}

:root {
  --color-bg: silver;
  --color-light: #f0f0f0;
  --color-darker: #333;
  --color-dark: #666;
  --color-white: #fff;
  --color-darkred: rgb(173, 11, 44);
  --color-red: crimson;
  --color-gold: gold;
  --color-blue: rgb(24, 127, 211);
  --header-height: 10rem;
  --footer-height: 5rem;
}

a,
a:visited {
  text-decoration: none;
  color: var(--color-dark);
  transition: 0.2s all;
}

a:hover,
a:active {
  text-decoration: none;
  color: var(--color-light);
}

body {
  margin: 0;
  font-size: 16px;
  color: var(--color-darker);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

header,
main,
footer {
  max-width: 1280px;
  margin: auto;
  text-align: center;
  display: block;
}

header {
  background: linear-gradient(
    90deg,
    var(--color-darkred) 0%,
    var(--color-red) 3%,
    var(--color-red) 97%,
    var(--color-darkred) 100%
  );
  margin-top: 0;
  height: var(--header-height);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-title {
  color: var(--color-gold);
  font-family: "Pokemon Solid", sans-serif;
  font-size: 4rem;
  padding: auto;
  -webkit-text-stroke: var(--color-blue) 4px;
  text-shadow: 3px 3px 0px var(--color-white);
}

main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  background: linear-gradient(
    90deg,
    var(--color-bg) 0%,
    var(--color-white) 3%,
    var(--color-white) 97%,
    var(--color-bg) 100%
  );
}

#pokeList {
  width: 100%;
  align-self: stretch;
}

button {
  border: var(--color-dark) 2px solid;
  background: linear-gradient(var(--color-dark), var(--color-bg));
  border-radius: 3rem;
  padding: 1rem;
  font-size: 1.2rem;
  color: var(--color-white);
  margin: 2rem 1rem;
  height: fit-content;
  min-width: 150px;
  transition: 0.2s all;
}

button:hover {
  border: var(--color-bg) 2px solid;
  background: linear-gradient(var(--color-bg), var(--color-light));
  color: var(--color-dark);
}

.hidden-button {
  display: none;
}
.show-button {
  display: inline-block;
}

#pokemons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pokemonItem {
  width: 150px;
  height: 150px;
  background: var(--color-light);
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-items: center;
  margin: 1rem;
  border-radius: 0.5rem;
  box-shadow: inset 0px 0px 1rem var(--color-bg);
  border: 2px solid var(--color-bg);
}

.pokemonId {
  border-radius: 2rem;
  background: var(--color-white);
  padding: 0.5rem;
  margin-top: -1rem;
  border: 2px solid var(--color-bg);
}

.pokemonName {
  font-size: 1.5rem;
  width: 100%;
  text-transform: capitalize;
}

.pokemonType {
  width: 100%;
}

footer {
  background: linear-gradient(
    90deg,
    var(--color-dark) 0%,
    var(--color-bg) 3%,
    var(--color-bg) 97%,
    var(--color-dark) 100%
  );
  height: var(--footer-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
